#!/bin/sh

# set ORACLE_HOME to ASM instance name
#
export ORACLE_SID=$(ps -eaf | grep asm_smon | grep -v grep | sed 's/^.*asm\_smon\_\(\S*\)$/\1/g')

# set ORACLE_HOME to GRID_HOME
#
ORACLE_HOME=""

DIR="$(dirname $0)"
if [ "$DIR" = "." ]
then
  DIR=$(pwd)
fi

GRID_HOME_JSON_FILE=$DIR/grid_home.json
if [ -f $GRID_HOME_JSON_FILE ]; then
  ORACLE_HOME=$(cat $GRID_HOME_JSON_FILE | sed 's/.*oracle_home":\s*"\([^"]*\).*$/\1/')
fi

export ORACLE_HOME

# fetch ASM disks data in JSON format
#
# temp version: $ORACLE_HOME/bin/asmcmd lsdsk -k | grep -i -v Failgroup | awk '{ print $1, $NF }' | awk -F ' ' 'BEGIN { print "["; } { printf "%s{\"%s\": \"%s\", \"%s\": \"%s\"}", delim, "total_mb", $1, "path", $2; delim="\n," } END { print "\n]"; }'

echo "["

if [ ! -z "$ORACLE_SID" ] && [ ! -z "$ORACLE_HOME" ]; then

  $ORACLE_HOME/bin/asmcmd lsdsk -k | grep -i -v Failgroup | awk '{ print $1, $NF }' | awk -F ' ' '{ printf "%s{\"%s\": \"%s\", \"%s\": \"%s\"}", delim, "total_mb", $1, "path", $2; delim="\n," }'

fi

echo "]"
